{% extends 'base/base.html' %}
{% load static %}
{% block enlaces %}
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark ">
    <a class=" text-white navbar-brand" href="{% url 'login1' %}">App Granja</a>
</nav>
{% endblock %}
{% block content %} 
<h1 class="text-center">Formulario de registro</h1>
<div class="container opacity">
    <div class="d-flex justify-content-center h-100">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="id_first_name">{{ form.first_name.label }}</label>
                        <input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name">
                        <span class="helptext">{{ form.first_name.help_text }}</span>
                        <span class="helptext">{{ form.first_name.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="form-group">
                        <label for="id_last_name">{{ form.last_name.label }}</label>
                        <input class="form-control" type="text" name="last_name" maxlength="30" id="id_last_name">
                        <span class="helptext">{{ form.last_name.help_text }}</span>
                        <span class="helptext">{{ form.last_name.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="form-group">
                        <label for="id_username">{{ form.username.label }}</label>
                        <input class="form-control" type="text" name="username" maxlength="30" id="id_username">
                        <span class="helptext">{{ form.username.help_text }}</span>
                        <span class="helptext">{{ form.username.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="form-group">
                        <label for="id_email">{{ form.email.label }}</label>
                        <input class="form-control" type="text" name="email" maxlength="30" id="id_email">
                        <span class="helptext">{{ form.email.help_text }}</span>
                        <span class="helptext">{{ form.email.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="form-group">
                        <label for="id_password1">{{ form.password1.label }}</label>
                        <input class="form-control" type="password" name="password1" maxlength="30" id="id_password1">
                        <span class="helptext">{{ form.password1.helps }}</span>
                        <span class="helptext">{{ form.password1.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="form-group">
                        <label for="id_password2">Reescriba su contraseña</label>
                        <input class="form-control" type="password" name="password2" maxlength="30" id="id_password2">
                        <span class="helptext">{{ form.password2.help_text }}</span>
                        <span class="helptext">{{ form.password2.errors }}</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning center" type="submit">Guardar</button>
        </form>
    </div>
</div>


{% endblock %}