db.sqlite3
Granjas/__pycache__/
apps/Animal/__pycache__/
apps/Animal/migrations/__pycache__/
apps/Granja/__pycache__/
apps/Granja/migrations/__pycache__/
apps/Granjero/__pycache__/
apps/Granjero/migrations/__pycache__/
apps/__pycache__/__init__.cpython-36.pyc
apps/gallery/__pycache__/
apps/gallery/migrations/__pycache__/
apps/gallery/migrations/__pycache__/
apps/trans/__pycache__/
apps/trans/__pycache__/
apps/trans/__pycache__/
apps/trans/__pycache__/
apps/trans/__pycache__/
apps/trans/__pycache__/
apps/trans/migrations/__pycache__/
apps/trans/migrations/__pycache__/
apps/usuario/__pycache__/
apps/usuario/__pycache__/
apps/usuario/__pycache__/
apps/usuario/__pycache__/
apps/usuario/__pycache__/
apps/usuario/__pycache__/
apps/usuario/migrations/__pycache__/
media/Animales/
media/granja/
media/hierro/
media/propietarios/
Granjas/settings.py