{% extends 'base/base.html' %}
{% load static %}
{% block enlaces %}
<link rel="stylesheet" href="{% static 'css/cardcus.css' %}">
{% endblock %}

{% block header %}
{% include 'base/header_granja.html' %}
{% endblock %}

{% block content %} 
<div class="container mt-5 mb-2">
    <div class="row">
          <div class="col-sm-3">
            <div class="card m-3" >
              <img width="304" height="236" class="card-img-top" src="/media/gallery/+.png" alt="Card image cap"> 
              <div class="card-body">
                <h5 class="card-title">Agrega una granja</h5>
                <p class="card-text">En esta opción puedes agregar las granjas que quieras!</p>
              </div>
              <div class="card-footer">
                  <div class="row">
                      <div class="col-sm-12"> <a href="{% url 'granja:new' %}" class="btn btn-success ">Agregar</a></div>
                  </div>
              </div>
            </div>
        </div>  
        <!-- -->
        {% if object_list %}
            {% for granja in object_list %}
                <div class="col-sm-3 ">
                    <div class="card m-3" >
                    <a href="{% url 'granja:admin' granja.id %}">
                    <img  width="300" height="300" class="card-img-top image" src="{{ granja.image.url }}" alt="Card image cap"> 
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ granja.Name }}</h5>
                        <p class="card-text"> {{ granja.Details }} </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6"> <a href="{% url 'granja:edit' granja.id %}" class="btn btn-success ">Editar</a></div>
                            <div class="col-sm-6"> <a href="{% url 'granja:delete' granja.id %}" class="btn btn-danger ">Borrar</a></div>
                        </div>
                    </div>
                    </div>
                </div> 
            {% endfor %}
        {% else %}
        <div class="col-sm-3 ">
            <div class="card m-3 w-100 h-100" >
            <div width="304" height="236" class="card-body">
                <h5 class="card-title">No se encuentran Granjas registradas</h5>
                <p class="card-text">Si desea por favor agregue suprimera granja, en el boton agregar de la primera tarjeta </p>
            </div>
            </div>
        </div> 
        {% endif %}
        <!-- -->
    </div>
</div>
{% endblock %}
