{% extends 'base/base.html' %}
{% block content %} 

<div class="container">
    <h3> Configuraciones</h3>
    <ul class="list-group">
        <a href="{% url 'granja:list_concepto' %}"><li class="list-group-item">Agregar Conceptos de adquicición</li></a>
        <a href="{% url 'granja:list_genero' %}"><li class="list-group-item">Agregar Generos</li></a>
        <a href="{% url 'granja:list_eProductiva' %}"><li class="list-group-item">Agregar Etapas Productivas</li></a>
        <a href="{% url 'granja:list_raza' %}"><li class="list-group-item">Agregar Razas</li></a>
        <a href="{% url 'granja:list_proposito' %}"><li class="list-group-item"> Agregar Propositos</li></a>
        <a href="{% url 'granja:list_propietario' %}"><li class="list-group-item">Agregar Propietarios</li></a>   
        <a href="{% url 'granja:list_serviInsu' %}"><li class="list-group-item">Agregar Insumos o Servicios</li></a>
    </ul>
</div>

{% endblock %}
