{% extends 'base/base.html' %}
{% block content %} 

<div class="row">
      <div class="col-md-3 col-6 m-3">
        <div class="card m-3 w-100 h-100" >
          <div class="card-header">
            Cacteristicas de la granja
          </div>
          <img width="304" height="236" class="card-img-top" src="{{ granj.image.url }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nombre: {{ granj.Name }}</h5>
              <p class="card-text">Código:  {{ granj.Cod }}</p>
              <p class="card-text">Hectareas: {{ granj.Hec }} </p>
              <p class="card-text">Diviciones: {{ granj.Div }} </p>
              <p class="card-text">Número de pozos:  {{ granj.NumPozos }}</p>
              <p class="card-text">Cantidad animales:  {{ CantAnimales }}</p>

            </div>
        </div>  
      </div>
      <!-- Animales-->
      <div class="col-md-3 col-6 m-3">
        <div class="card m-3 w-100 h-100" >
          <div class="card-header">
            Administración de animales
          </div>
          <a href="{% url 'animal:list' %}"><img width="304" height="236" class="card-img-top" src="/media/gallery/Animales.png" alt="Card image cap"> </a>
          <div class="card-body">
            <p class="card-text">En esta opción puedes agregar, editar animales que pertenezcan a tu Granja</p>
          </div>
        </div>
      </div>     
      <!-- Comercio-->
      <div class="col-md-3 col-6 m-3">
        <div class="card m-3 w-100 h-100" >
          <div class="card-header">
            Comercio
          </div>
          <a href="{% url 'trans:list' %}"><img width="304" height="236" class="card-img-top" src="/media/gallery/nego.png" alt="Card image cap"> </a>
          <div class="card-body">
            <p class="card-text">En esta opción puedes registar las compras o las ventas de animales de tu granja</p>
          </div>
        </div>
      </div>   
      <!-- Insumos o servicios -->
      <div class="col-md-3 col-6 m-3">
        <div class="card m-3 w-100 h-100" >
          <div class="card-header">
            Insumos o servicios
          </div>
          <a href="{% url 'trans:list_InsServ' %}"><img width="304" height="236" class="card-img-top" src="/media/gallery/inse.png" alt="Card image cap"> </a>
          <div class="card-body">
            <p class="card-text">En esta opción puedes registar las compras de insumos o servicios que realices en tu granja</p>
          </div>
        </div>
      </div>     
      <!-- Producción de leche 
      <div class="col-md-3 col-6 m-3">
        <div class="card m-3 w-100 h-100" >
          <div class="card-header">
            Producción de leche
          </div>
          <a href=""><img width="304" height="236" class="card-img-top" src="/media/gallery/ordeñar.png" alt="Card image cap"> </a>
          <div class="card-body">
            <p class="card-text">En esta opción puedes registar los litros de leche producidos por tus animales</p>
          </div>
        </div>
      </div>     -->
      <!-- Registro de medicamentos  
      <div class="col-md-3 col-6 m-3">
        <div class="card m-3 w-100 h-100" >
          <div class="card-header">
            Registro de medicamentos
          </div>
          <a href=""><img width="304" height="236" class="card-img-top" src="/media/gallery/medicamentos.png" alt="Card image cap"> </a>
          <div class="card-body">
            <p class="card-text">En esta opción puedes registar los medicamentos aplicados a tus animales</p>
          </div>
        </div>
      </div>  -->
      <!-- Control de peso  
      <div class="col-md-3 col-6 m-3">
        <div class="card m-3 w-100 h-100" >
          <div class="card-header">
            Control de peso
          </div>
          <a href=""><img width="304" height="236" class="card-img-top" src="/media/gallery/peso.png" alt="Card image cap"> </a>
          <div class="card-body">
            <p class="card-text">En esta opción puedes registar la evolución del peso de tus animales</p>
          </div>
        </div>
      </div>  -->
      <!-- Configuraciones-->
      <div class="col-md-3 col-6 m-3">
        <div class="card m-3 w-100 h-100" >
          <div class="card-header">
            Configuraciones 
          </div>
          <a href="{% url 'granja:config' %}"><img width="304" height="236" class="card-img-top" src="/media/gallery/tool.PNG" alt="Card image cap"> </a>
          <div class="card-body">
            <p class="card-text">En esta area podrás realizar las configuraciones básica el aplicativo.</p>
          </div>
        </div>
      </div>  
    </div>  

</div>

{% endblock %}

