{% extends 'base/base.html' %}
{% block content %} 
<div class="container">
    <h2>Administración de animales </h2>
    <div class="row">
        <!--Colummna de filtros -->
        <div class="col-3">
            <div class="m-1">
                <div class="m-2">
                    <h5>Agregar un animal:</h5>
                    <a href="{% url 'animal:new' %}" class="btn btn-success ">Agregar</a>
                </div>
                <div class="m-2">
                
                <h5>Filtros:</h5>
                <form action="{% url 'animal:search' %}" method="POST" class="form-inline my-2 my-lg-0">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <p><label for="id_Codigo_animal">{{ filters.Codigo_animal.label }}</label>
                            <input class="form-control" type="text" name="Codigo_animal" maxlength="30" id="id_Codigo_animal"></p>
                        </div>
                        <div class="row">
                            <label for="id_nombre">{{ filters.nombre.label }}</label>
                            <input class="form-control" type="text" name="nombre" maxlength="30" id="id_nombre">
                        </div>
                        <div class="row">
                            <label for="id_Código_mama">{{ filters.Código_mama.label }}</label>
                            <input class="form-control" type="text" name="Código_mama" maxlength="30" id="id_Código_mama">
                        </div>
                        <div class="row">
                            <label for="id_Código_papa">{{ filters.Código_papa.label }}</label>
                            <input class="form-control" type="text" name="Código_papa" maxlength="30" id="Código_papa">
                        </div>
                        <div class="row">
                            <label for="id_concepto">{{ filters.concepto.label }}</label>
                            {{ filters.concepto}} 
                        </div>
                        <div class="row">
                            <label for="id_Genero">{{ filters.Genero.label }}</label>
                            {{ filters.Genero}}
                        </div>
                        <div class="row">
                            <label for="id_Etapa_productiva">{{ filters.Etapa_productiva.label }}</label>
                            {{ filters.Etapa_productiva}}
                        </div>
                        <div class="row">
                            <label for="id_Raza">{{ filters.Raza.label }}</label>
                            {{ filters.Raza}}
                        </div>
                        <div class="row">
                            <label for="id_propietario">{{ filters.propietario.label }}</label>
                            {{ filters.propietario}}
                        </div>
                        <div class="row">
                            <label for="id_Proposito">{{ filters.Proposito.label }}</label>
                            {{ filters.Proposito}}
                        </div>
                        <h5>{{ filters.Fecha_recibida.label }}</h5>
                        <div class="row">
                            <label for="id_Fecha_recibidai">Inicial</label>
                            <input type="date" class="form-control" value="1999-01-01" name="Fecha_recibidai"  id="Fecha_recibidai">
                        </div>
                        <div class="row">
                            <label for="id_Fecha_recibidaf">Final</label>
                            <input type="date" class="form-control" value="3000-01-01" name="Fecha_recibidaf"  id="Fecha_recibidaf">
                        </div>

                        <h5>{{ filters.Fecha_nacimiento.label }}</h5>
                        <div class="row">
                            <label for="id_Fecha_nacimientoi">Inicial</label>
                            <input type="date" class="form-control" value="1999-01-01" name="Fecha_nacimientoi"  id="Fecha_nacimientoi">
                        </div>
                        <div class="row">
                            <label for="id_Fecha_nacimientof">Final</label>
                            <input type="date" class="form-control" value="3000-01-01" name="Fecha_nacimientof"  id="Fecha_nacimientof">
                        </div>
                        <div class="row">
                            <label for="id_descargar"><input type="checkbox" class="form-control" name="descargar" id="descargar" value="prueba"> Descargar</label><br>
                        </div>

                    </div>
                    <button class=" center btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                </div>
            </div>
        </div>
        <!--Colummna de resultados-->
        <div class="col-9">
            <div class="">
                <!--Lista de Animales -->
                {% if animals %}
                <div class="mx-auto">
                    <h2>Resultados:</h2>
                </div>
                
                <div class="mx-auto">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Código de animal</td>
                                <th scope="col">Nombre del animal</td>
                                <th scope="col">Imagen</td>
                                <th scope="col">Acciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for animal in animals %}
                            <tr>
                                <td  scope="row">{{animal.Codigo_animal}}</td>
                                <td>{{animal.nombre}}</td>
                                <td><img src="{{ animal.image.url }}"  width="70" height="70"> </td>
                                <td>
                                    <div class="btn-group-vertical">
                                    <a class="btn btn-primary" href="{% url 'animal:view' animal.id %}">+ Info</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>   
                </div>  
            {% else %}
                <h1> No se encuentran animales registrados</h1>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}