{% extends 'base/base.html' %}
{% load static %}
{% block enlaces %}
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark ">
     <a class=" text-white navbar-brand" href="{% url 'login1' %}">App Granja</a>
</nav>
{% endblock %}

{% block content %} 
<div class="container">
	<h1 class="text-center opacity" > Se enviado un enlace con un correo electronico para restablecer la contraseña.</h1>
</div>
{% endblock %}


