{% extends 'base/base.html' %}

{% load static %}
{% block enlaces %}
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark ">
    <a class=" text-white navbar-brand" href="{% url 'login1' %}">App Granja</a>
</nav>
{% endblock %}

{% block content %} 
<div class="container center">
    <h1 class="text-center"> Su contraseña se restableció correctamente</h1>
    <button class=" center btn btn-warning"  type="submit"><a href="{% url 'login'%}" style='text-decoration:none;color:white;' >Iniciar sesión</a></button>
</div>


{% endblock %}


