{% extends 'base/base.html' %}
{% load static %}
{% block enlaces %}
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark ">
    <a class=" text-white navbar-brand" href="{% url 'login1' %}">App Granja</a>
</nav>
{% endblock %}

{% block content %} 

<div class="container opacity">
    <h1 class="text-center">Recuperación de contraseña</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="id_email">¡Ingrese el correo electrónico donde se enviará el Link de recumeración de contraseña! </label>
                    <input class="form-control" type="text" name="email" maxlength="30" id="id_email">
                    <span class="helptext">{{ form.email.help_text }}</span>
                    <span class="helptext">{{ form.email.errors }}</span>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}



