{% extends 'base/base.html' %}
{% load static %}
{% block enlaces %}
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark ">
    <a class=" text-white navbar-brand" href="{% url 'login1' %}">App Granja</a>
</nav>
{% endblock %}
{% block content %} 

{% if validlink %}


<div class="container center opacity">
    <h1> Método de recuperación de contraseña</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Nueva contraseña: </label>
                    <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Reescriba su nueva contraseña: </label>
                    <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" aria-autocomplete="list">                </div>
            </div>
        </div>
        <button class="btn btn-warning center"  type="submit">Cambiar mi contraseña</button>
    </form>
</div>
{% else %}

<h1 class="text-center"> Enlace no valido, este ya fue utilizado aanteriormente </h1>

{% endif %}

{% endblock %}



