{% extends 'base/base.html' %}

{% block content %} 
<div class="container">
    <div class="row">
        <!--Agregar un animal -->
        <div class="col-12 ">
            <div class="m-5 center">
                <a href="{% url 'granja:new_eProductiva' %}" class="btn btn-success ">Agregar nueva etapa productiva</a>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Buscador de animales-->
        <div class="col-12">

        </div>
    </div>
    <div class="row">
        <!--Lista de Animales -->
        <div class="col-12">
            {% if object_list %}
            <table class="table-bordered">
                <thead>
                    <tr>
                        <td>Etapa Productiva</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody> 
                    {% for eProductiva in object_list %}
                    <tr>
                        <td>{{eProductiva.etapa_prod}}</td>
                        <td>
                            <div class="btn-group-vertical">
                            <a class="btn btn-primary" href="{% url 'granja:edit_eProductiva' eProductiva.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'granja:delete_eProductiva' eProductiva.id %}">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                    
                    {% else %}
                    <h1> No se encuentran Etapas productivas registrados</h1>
                     {% endif %}
           
        </div>
    </div>

</div>
{% endblock %}